Новая категория
<input  #newItem (keyup.enter)="addClass(newItem.value)" id="addItemInput" />

<button (click)="addClass(newItem.value)" label="Сохранить">Сохранить</button>

<table>

    <tr *ngFor="let c of categories ">

        <app-item [class]="c"></app-item>

        <!-- <div *ngIf="change">

            <button (click)="deleteClassWindow(c.id)">удалить</button>
            <button (click)="changeClassWindow(c.id, c.name)" (click)="change =!change">изменить</button>

        </div>

        <div *ngIf="!change">
            <input type="text">

            <button (click)="change= !change">Сохранить</button>
            <button (click)="change= !change">Отмена</button>
        </div> -->

    </tr>
</table>