<div class="admin">

    <h3> Панель администратора </h3>

    <p-button (click)="addTaskAdmin()" icon="pi pi-info-circle" label="testADD"></p-button>
    <p-button (click)="clearTaskAdmin()" icon="pi pi-info-circle" label="Очистить"></p-button>

    <div>
        <a (click)="consoleLog()" routerLink="/auth">Закрытая страница</a>
        <p>
            <a [routerLink]="['/login']">Авторизация</a>
    </div>
</div>

<app-header></app-header>

<div #changeButton class="card">
    <p-table [value]="tasks" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h1>Задачи</h1>

                <div #showButton class="card">

                    <p-button class="item" (click)="showAddTask(-1)" icon="pi pi-info-circle"
                        label="Создать"></p-button>


                    <p-button class="item" (click)="showAddClass()" icon="pi pi-info-circle"
                        label="Категории"></p-button>

                    <p-button (click)="searchButton = !searchButton; clearSearch()" icon="pi pi-info-circle"
                        label="Поиск"></p-button>

                    <form [formGroup]="formGroup">
                        <div class="search" *ngIf="searchButton">

                            <div class="serchItem">
                                Название
                                <input 
                                   
                                    #searchName pInputText class="p-inputtext-sm" type="text">
                                <button (click)="multiSearch(searchName.value, 'nameSearch'); searchName.value=''
                            ">Искать</button>
                            </div>

                            <div class="serchItem">
                                Категория
                                <input
                                    
                                    #searchCategory pInputText class="p-inputtext-sm" type="text">
                                <button
                                    (click)="multiSearch(searchCategory.value, 'categorySearch'); searchCategory.value=''">Искать</button>
                            </div>

                            <div class="serchItem">
                                Описание
                                <input
                                    
                                    #searchDescription pInputText class="p-inputtext-sm" type="text">
                                <button
                                    (click)="multiSearch(searchDescription.value, 'descriptionSearch'); searchDescription.value=''">Искать</button>
                            </div>

                            <div class="serchItem">
                                Дата
                                <p-calendar formControlName="date"></p-calendar>
                                <button (click)="multiSearch(this.formGroup.value.date, 'dataSearch')">Искать</button>
                            </div>

                            <button (click)="clearSearch()">Очистить</button>

                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Название<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="category">Категория<p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="description">Описание<p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="data">Дата<p-sortIcon field="data"></p-sortIcon></th>
                <th pSortableColumn="status">Статус<p-sortIcon field="status"></p-sortIcon></th>
            </tr>

        </ng-template>

        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{task.name}}
                    <div>
                        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
                        <p-button (click)="confirm(task.id)" icon="pi pi-times" label="Удалить"
                            class="p-button-danger"></p-button>
                        <p-button (click)="showAddTask(task.id)" icon="pi pi-info-circle" label="Изменить"></p-button>
                    </div>
                </td>
                <td>{{task.category}}</td>
                <td>{{task.description}}</td>
                <td>{{task.data | date}}</td>
                <td><p-tag [value]="task.status" [severity]="getSeverity(task.status)"></p-tag>
                    <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Всего {{tasks ? tasks.length : 0 }} задачи.
            </div>
        </ng-template>
    </p-table>
</div>

<!-- (keyup.enter)="multiSearch(searchDescription.value, 'descriptionSearch'); searchDescription.value=''" -->