<!-- <div class="card">
    <p-table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{ task.code }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.id }}</td>
                <td>{{ task.description }}</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->


<p-button (click)="consoleLog()" icon="pi pi-info-circle" label="Кнопка"></p-button>
<p-button (click)="getLocalStorage()" icon="pi pi-info-circle" label="testADD"></p-button>
<p-button (click)="clearTask()" icon="pi pi-info-circle" label="Очистить"></p-button>


<div class="card">
    <p-table [value]="tasks" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Задачи
                <div #showButton class="card flex justify-content-center">
                    <p-toast></p-toast>
                    <p-button  (click)="show()" icon="pi pi-info-circle" label="Создать"></p-button>
                    
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                
                <th>Описание</th>
                <th>Status</th>
            </tr>
            
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr> 
                
                <td>{{task.name}}
                    <button (click)="deleteTask(task.id)" icon="pi pi-info-circle" label="Удалить">Удалить</button>
                    <button (click)="changeTask()" icon="pi pi-info-circle" label="Изменить">Изменить</button>
               </td>
                <td>{{task.description}}</td>
                <td><p-tag [value]="task.status" [severity]="getSeverity(task.status)"></p-tag></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Всего {{tasks ? tasks.length : 0 }} задачи.
            </div>
        </ng-template>
    </p-table>
</div>