<div >
    <div >
      <div >
        <div >
          <div >
  
            <div >
  
              <h2 >Добро пожаловать</h2>
              <p class="text-white-50 mb-5">Введите логин и пароль</p>
              <p class="text-white-50 mb-5">admin&#64;gmail.com</p>
              <p class="text-white-50 mb-5">admin123</p>
  
              <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">     

                <div >
                  <input formControlName="email" type="email" id="typeEmailX" />
                  <label for="typeEmailX">Почта</label>
                  <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small >Требуется ввести email</small></p>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input formControlName="password" type="password" id="typePasswordX" />
                  <label class="form-label" for="typePasswordX">Пароль</label>
                  <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small >Требуется пароль (Минимум 8 символов и 1 цифра)</small></p>
                </div>
                <button [disabled]="loginForm.invalid" type="submit">Войти</button>

              </form>

            </div>
            <div>
              <p >Нет аккаунта? <a routerLink="../registration" >Зарегистрироваться</a></p>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>

  <a [routerLink]="['/']">Назад</a>
  <a [routerLink]="['/auth']">auth</a>