<div>
    <input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done" />
    <label [for]="item.description">{{item.description}}</label>

    <div *ngIf="!editable">
        <button class="btn" (click)="editable = !editable">Изменить</button>
        <!-- <button class="btn" (click)="remove.emit()">Удалить</button> -->
    </div>

    <div *ngIf="editable">
        <input placeholder="edit item" [value]="item.description" #editedItem>
        <!-- (keyup.enter)="saveItem(editedItem.value)"> -->



        <div>
            <p>отмена, сохранить</p>
            <!-- <button (click)="editable = !editable">Отмена</button> -->
            <button (click)="saveItem(editedItem.value)">Сохранить</button>
        </div>
    </div>

</div>