

<div>    
    <label [for]="class.name">{{class.name}}</label>
    <div *ngIf="!editable">
        <p-button size="small" class="btn" (click)="editable = !editable">Изменить</p-button>
        <p-button size="small" class="btn" (click)="deleteClassWindow(class.id)">Удалить</p-button>
    </div>
    <div  *ngIf="editable">
        <input type="text" pInputText [value]="class.name" #editedItem
        (keyup.enter)="changeClassWindow(class.id, editedItem.value )">
        <div>
            <p-button size="small" (click)="editable = !editable">Отмена</p-button>
            <p-button size="small" (click)="changeClassWindow(class.id, editedItem.value)">Сохранить</p-button>
        </div>
    </div>
</div>