<h1>todo list</h1>

<form action="#">
    <input type="text" name="title">
    <button>Добавить новую запись</button>
</form>
<h1> Задачи </h1>
<ul>

    <p *ngFor="let i of allItems">
        <li> {{i.description}} 
            <input type="checkbox" name="isCompleted">
        </li>
    </p>

</ul>

<ul>
    <li>
        <input type="checkbox" name="isCompleted" checked="checked">
        <span>Выполнить</span>
        <span>Удалить</span>
    </li>

    <li>
        <input type="checkbox" name="isCompleted">
        <span>Выполнено</span>
        <span>Удалить</span>
    </li>
</ul>