<h1>todo list</h1>

    <label for="addItemInput">add</label>
    <input #newItem (keyup.enter)="addItem(newItem.value); newItem.value=' '" id="addItemInput" >
    <button (click)="addItem(newItem.value); newItem.value=' '" class="btn-add" >Добавить новую запись</button>
    


<h1> Задачи </h1>
<ul>

    <p *ngFor="let i of allItems">
         {{i.description}} 
            <input type="checkbox" name="isCompleted">
        
    </p>

</ul>

<ul>
    <li>
        <input type="checkbox" name="isCompleted" checked="checked">
        <span>Выполнить</span>
        <span>Удалить</span>
    </li>

    <li>
        <input type="checkbox" name="isCompleted">
        <span>Выполнено</span>
        <span>Удалить</span>
    </li>
</ul>