// .bitBox {
//     padding-bottom: 150px;
// }

// .p-dialog-header {
//     display: flex;
//     justify-content: center;
// }

.p-dialog-content {
    padding: 0px 50px 50px 50px;
}

.p-dialog-title {
    padding-left: 5px;
}

.container-create-window {
    padding-top: 15px;
    display: grid;
    gap: 13px;
    grid-template-columns: 100px 250px;
    justify-content: center;
    
}

.item {
    padding: 1rem;

    >p-slider {
        width: 200px;
        max-width: 200px;
    }
}

.slider {
    width: 353px;
    padding: 0 0 20px 110px;
}

.i6 {
    padding-top: 10px;
}

.p-datepicker {
    position: Absolute;
    top: -257px !important;
    left: -134px !important;
    width: auto;
}

