<div class="bitBox" #bitBox>
  <form [formGroup]="formGroup">
    <div class="container-create-window">

      <div class="item-cw n1">Название: </div>

      <div class="item-cw i1">
        <input type="text" id="addItemInput" 
        pInputText formControlName="nameTask" 
        #newItem (keyup.enter)="addOrChangeTask(); 
        newItem.value = ' '" />
      </div>

      <div class="item-cw n2"> Описание:</div>

      <div class="item-cw i2">
        <input type="text" id="description"
         pInputText formControlName="description" 
         #newItemDescription (keyup.enter)="addOrChangeTask(); 
         newItem.value = ' '" />
      </div>

      <div class="item-cw n3"> Приоритет:</div>

      <div class="item-cw i3">
        <input [(ngModel)]="this.priority" pInputText 
          id="priority" type="text" [ngModelOptions]="{standalone: true}" />
          <div> <p-slider [(ngModel)]="this.priority" id="slider"
          [ngModelOptions]="{standalone: true}"></p-slider></div>
      </div>
      
      <div class="item-cw n4"> Категория:</div>

      <div class="item-cw i4">
        <p-dropdown id="inputClass" formControlName="inputClass" 
          [options]="ClassItem" placeholder="Выбрать категорию"
          [editable]="true" optionLabel="name"></p-dropdown>
      </div>

      <div class="item-cw n5"> Дата:</div>
      
      <div class="item-cw i5">
        <p-calendar  id="date" dateFormat="dd.mm.yy" 
        formControlName="date" ></p-calendar>
      </div>
      <div></div>
      <div class="item-cw i6">
      <p-button id="send" [disabled]="formGroup.invalid" 
        (click)="addOrChangeTask(); newItem.value = ' '"
        > запланировать!</p-button>
      </div>
    </div>
  </form>
</div>