.formGroup {
    display: grid;
}

.bitBox {
    padding-bottom: 150px;
}

    .item {
        padding: 1rem;
        > p-slider {
            width: 200px;
            max-width: 200px;
        }
    }
       
    .slider {
        width: 200px;
    }