<div class="container-all">


  <form class="form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">

    <div class="title"> Авторизация </div>
      <label id="login">
        <input formControlName="email" type="text" />
        <span>Логин</span>
        <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small>Требуется ввести
            email</small></p>
      </label>

      <label id="password">
        <input formControlName="password" type="password" />
        <span>Пароль</span>
        <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small>Требуется
            пароль (Минимум 8 символов и 1 цифра)</small></p>
      </label>
      <div class="button">Войти</div>


  </form>

  <!-- <button [disabled]="loginForm.invalid" type="submit">Войти</button> -->

  <!-- <div>
    <p>Нет аккаунта? <a routerLink="../registration">Зарегистрироваться</a></p>
  </div> -->

</div>