@import url('https://fonts.googleapis.com/css2? Family= Rubik:wght@400;500 & display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.container-all {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: grid;
    align-items: center;
    justify-items: center;
}

.form {
    display: grid;
    padding: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0, 0.1);

}