<div class="container-all">

  <form class="form" [formGroup]="loginForm" >

    <div class="title"> Авторизация </div>
      <label id="login">
        <input id="inputLogin" (change)="checkFilled()" formControlName="email" type="text" />
        <span>Логин</span>
        <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small>Требуется ввести
            email</small></p>
      </label>

      <label id="password">
        <input id="inputPassword" formControlName="password" type="password" />
        <span>Пароль</span>
        <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small>Требуется
            пароль (Минимум 8 символов и 1 цифра)</small></p>
      </label>
      <a class="registration" routerLink="../registration">Регистрация</a>
      <div (click)="submitLogin()" class="button">Войти</div>

  </form>  

</div>