@import "primeicons/primeicons.css";

.card {
    display: grid;
    width: 100%;
}

.pi-times {
    cursor: pointer;
}

.pi-pencil {
    cursor: pointer;
    padding-right: 10px;
}

.btn-header {
    display: grid;
    grid-template-columns:150px 150px 150px;  
}


.btn-head {
    display: grid;
    padding: 0 10px 0 10px;
    place-items: end center;    
}

.p-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    padding-top: 19px;
    display: grid;
    gap: 33px;
    grid-template-columns: 200px 200px 200px 200px 100px 119px;
}

.item-s {
    display: grid;
    place-items: end center;
}



@media (max-width: 1225px) {
    .search {
        padding-top: 19px;
        display: grid;
        gap: 33px;
        grid-template-columns: 200px 200px 200px 200px;
    }
}

@media (max-width: 991px) {
    .search {
        padding-top: 19px;
        display: grid;
        gap: 33px;
        grid-template-columns: 200px 200px ; 
    }
}

@media (max-width: 500px) {
    .search {
        padding-top: 19px;
        display: grid;
        gap: 33px;
        grid-template-columns: 200px  ; 
        justify-content: center;
    }
}

@media (max-width: 475px) {
    .btn-header {
        display: grid;
        grid-template-columns:150px ; 
        justify-content: center;
    }

    .btn-head {
        padding: 15px 0 15px 0;
    }
    h2 {
        text-align: center
    }
}