@import "primeicons/primeicons.css";

.card {
    display: grid;
    width: 100%;
}

.pi-times {
    cursor: pointer;
}

.pi-pencil {
    cursor: pointer;
    padding-right: 10px;
}

.btn-header {
    display: grid;
    grid-template-columns:150px 150px 150px;
    

}


.btn-head {
    display: grid;
    padding: 0 10px 0 10px;
    
}
// .nameTd {
//     word-wrap: break-word;
//     // max-width: 10%;
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;

//     >.taskNameTd {
//         max-width: auto;
//     }
// }

// .p-datatable .p-datatable-tbody>tr {
//     display: flex;
// }


// .headerTable {
//     display: flex;

//     >.tableHeaderItem {
//         padding: 0 1rem 0 0;
//     }
// }

// .search {
//     padding: 36px 20px 15px 20px;
//     display: grid;
// }

// .serchItem {
//     padding: 10px
// }

// .btn {
//     padding: 10px;
// }