@import "primeicons/primeicons.css";



.pi-times {
    cursor: pointer;
}

.pi-pencil {
    cursor: pointer;
    padding-right: 10px;
}

.nameTd {
    word-wrap: break-word;
    // max-width: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >.taskNameTd {
        max-width: auto;
    }
}

.admin {
    background-color: rgb(0, 255, 255)
}

.p-datatable .p-datatable-tbody>tr {
    display: flex;
}


.headerTable {
    display: flex;

    >.tableHeaderItem {
        padding: 0 1rem 0 0;
    }
}

.search {
    padding: 36px 20px 15px 20px;
    display: flex;
}

.serchItem {
    padding: 0px 10px 0px 0px
}

.btn {
    padding: 10px;
}